doctype html

block variables

html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes")
    link(rel='stylesheet', href="css/style.css")

block pageMeta

  body
    header.
      ヘッダーコンテンツ

block pageContent

    footer
    script(src='bundle.js')